<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinary Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="language-switcher">
        <button id="lang-toggle" class="lang-toggle-button">Tamil</button>
        <button id="lang-toggle-en" class="lang-toggle-button">English</button>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h1 id="chat-header-title" style="text-align:center;">Veterinary Chatbot</h1>
        </div>
        <div class="chat-body">
            <div class="message-container" id="message-container">
                <div class="user-query"></div>
                <div class="chatbot-response">
                    <h2 id="welcome-message" style="text-align:center;">Welcome to the Veterinary Chatbot!</h2>
                    <p id="chatbot-description" style="text-align:center;">I'm here to help answer your questions about veterinary care. Consult a veterinarian for an accurate diagnosis and proper treatment plan.</p>
                </div>
            </div>
            <div class="input-container">
                <input type="text" id="user-input" placeholder="Type your question here...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
    <div class="feedback-container">
        <h3 style="text-align:center;">Provide Feedback</h3>
        <textarea id="feedback-input" placeholder="Enter your feedback here..."></textarea>
        <button id="feedback-button" style="margin:auto;display:block;">Submit Feedback</button>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>